body{
    				background-image: url('wonwoo-look-around.gif'); 
}


.kilig img{
				width: 200px;
}

.kilig{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap:3em;
}
.ay{
				font-size: 30px;
				color: red;
}